<%- include('./../layouts/header.ejs', {title:'Crear usuario'}) -%>

      <section class="jumbotron">
        <div class="container">
          <form class="row g-3 needs-validation" method="POST" action="/api/store" novalidate>
            <div class="col-md-12 py-4">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" name="nombre" id="nombre" value="" required>
            </div>
            <div class="col-12">
              <div class="row justify-content-between">
                <a href="javascript:history.back()" class="btn btn-secondary" name="boton" id="boton">Atras</a>
                <button class="btn btn-primary" type="submit" id="boton">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
      const $boton = document.getElementById('boton');

      boton.addEventListener('click', async (e) => {
        e.preventDefault();

        let nombre = document.getElementById('nombre').value;

        const data = await store(nombre);
        console.log(data);
        if (data.status == 200) {
          alert(data.nombre + ' ' + data.msg)
          window.location.href = '/';
        } else {
          alert(data.error[0].msg)
        }
      })

      const store = async (nombre) => {
        try {
          const request = await fetch('http://localhost:3000/store',{
            method:"POST",
            body: JSON.stringify({
              nombre
            }),
            headers : {
              "Content-Type": "application/json",
            }
          })
          const datos = await request.json()
          return datos;
        } catch (error) {
          return error;
        }
      }
    </script>
<%- include('./../layouts/footer.ejs') -%>
